@import url('https://fonts.google.com/specimen/Rubik');
body {
    font: 12pt arial;
}

h1,
h2,
h3 {
    font-family: 'rubik', cursive;
    font-weight: normal;
}

input[type=number] {
    font-size: 15pt;
}

input[type=submit] {
    background-color: green;
    color: white;
    font-size: 12pt;
    padding: 5px;
}